.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.15em;
  background: #f0f0f0;
}
.hljs,
.hljs-subst {
  color: #444;
}
.hljs-comment {
  color: #888888;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}
.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #bc6060;
}
.hljs-literal {
  color: #78a960;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta-string {
  color: #4d99bf;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}

div.ace-editor.dark .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.15em;
  background: #1d1f21;
}

div.ace-editor.dark .hljs,
div.ace-editor.dark .hljs-tag,
div.ace-editor.dark .hljs-subst {
  color: #f8f8f2;
}

div.ace-editor.dark div.ace-editor.dark .hljs-strong,
div.ace-editor.dark .hljs-emphasis {
  color: #a8a8a2;
}

div.ace-editor.dark .hljs-bullet,
div.ace-editor.dark .hljs-quote,
div.ace-editor.dark .hljs-number,
div.ace-editor.dark .hljs-regexp,
div.ace-editor.dark .hljs-literal,
div.ace-editor.dark .hljs-link {
  color: #ae81ff;
}

div.ace-editor.dark .hljs-code,
div.ace-editor.dark .hljs-title,
div.ace-editor.dark .hljs-section,
div.ace-editor.dark .hljs-selector-class {
  color: #a6e22e;
}

div.ace-editor.dark .hljs-strong {
  font-weight: bold;
}

div.ace-editor.dark .hljs-emphasis {
  font-style: italic;
}

div.ace-editor.dark .hljs-keyword,
div.ace-editor.dark .hljs-selector-tag,
div.ace-editor.dark .hljs-name,
div.ace-editor.dark .hljs-attr {
  color: #f92672;
}

div.ace-editor.dark .hljs-symbol,
div.ace-editor.dark .hljs-attribute {
  color: #66d9ef;
}

div.ace-editor.dark .hljs-params,
div.ace-editor.dark .hljs-class .hljs-title {
  color: #f8f8f2;
}

div.ace-editor.dark .hljs-type,
div.ace-editor.dark .hljs-built_in,
div.ace-editor.dark .hljs-builtin-name,
div.ace-editor.dark .hljs-selector-id,
div.ace-editor.dark .hljs-selector-attr,
div.ace-editor.dark .hljs-selector-pseudo,
div.ace-editor.dark .hljs-addition,
div.ace-editor.dark .hljs-variable,
div.ace-editor.dark .hljs-template-variable {
  color: #e6db74;
}

div.ace-editor.dark .hljs-comment,
div.ace-editor.dark .hljs-deletion,
div.ace-editor.dark .hljs-meta {
  color: #75715e;
}

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
div.ace-editor.light .hljs-comment,
div.ace-editor.light .hljs-quote {
  color: #8e908c;
}

/* Tomorrow Red */
div.ace-editor.light .hljs-variable,
div.ace-editor.light .hljs-template-variable,
div.ace-editor.light .hljs-tag,
div.ace-editor.light .hljs-name,
div.ace-editor.light .hljs-selector-id,
div.ace-editor.light .hljs-selector-class,
div.ace-editor.light .hljs-regexp,
div.ace-editor.light .hljs-deletion {
  color: #c82829;
}

/* Tomorrow Orange */
div.ace-editor.light .hljs-number,
div.ace-editor.light .hljs-built_in,
div.ace-editor.light .hljs-builtin-name,
div.ace-editor.light .hljs-literal,
div.ace-editor.light .hljs-type,
div.ace-editor.light .hljs-params,
div.ace-editor.light .hljs-meta,
div.ace-editor.light .hljs-link {
  color: #f5871f;
}

/* Tomorrow Yellow */
div.ace-editor.light .hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
div.ace-editor.light .hljs-string,
div.ace-editor.light .hljs-symbol,
div.ace-editor.light .hljs-bullet,
div.ace-editor.light .hljs-addition {
  color: #718c00;
}

/* Tomorrow Blue */
div.ace-editor.light .hljs-title,
div.ace-editor.light .hljs-section {
  color: #4271ae;
}

/* Tomorrow Purple */
div.ace-editor.light .hljs-keyword,
div.ace-editor.light .hljs-selector-tag {
  color: #8959a8;
}

div.ace-editor.light .hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}

div.ace-editor.light .hljs-emphasis {
  font-style: italic;
}

div.ace-editor.light .hljs-strong {
  font-weight: bold;
}

.ace-tomorrow-night-bright {
  background-color: #1d1f21 !important;
  color: #fefefe !important;
}
