table.yapij-shell-table {
  font-family: monospace;
  border: none !important;
  max-height: 250px;
  overflow: auto;

  td,
  th {
    padding: 3px !important;
    padding-left: 5px;
  }

  tfoot {
    font-size: 0.65em;
  }
  &.dark {
    td,
    th {
      color: #c5c8c6;
    }
  }
}

table.container-syntax-highlighter {
  width: 100%;
  height: 100%;
}

.py-type-inner {
  width: inherit;
  max-width: 100%;
}

.react-json-view {
  background-color: rgba(0, 0, 0, 0) !important;
}

.py-type-container.container {
  padding-right: 5px;
  width: 100%;
  overflow-x: auto;
  font-family: monospace;

  &.dark {
    color: #f8f8f2;
  }

  &.light {
    color: #8e908c;
  }

  &.exception {
    background-color: rgba(200, 40, 41, 0.23);

    .label {
      color: rgba(200, 40, 41, 1);
    }
  }

  &.warning {
    background-color: rgba(255, 164, 38, 0.2);
    .label {
      color: rgba(255, 164, 38, 1);
    }
  }

  &.py-module {
    width: 100%;
    text-align: left;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    button {
      width: 100%;
      span {
        width: 100%;
        text-align: left;
      }
    }
  }

  &.py-docstring {
    &.dark {
      .label {
        color: #81a2be;
      }
    }

    &.light {
      .label {
        color: #4271ae;
      }
    }

    .button,
    .docstring {
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .inset {
      margin-left: 2em;
    }
  }

  .label {
    &.title {
      font-weight: bolder;
    }
  }

  .elan {
    font-style: italic;
  }
}
