.py-type {
  // max-width: 100%;
  // width: 100vw;

  .bp3-popover-wrapper {
    max-width: 100%;
  }

  .bp3-popover-target {
    // max-width: 100%;
    // width: 100vw;
  }

  .py-type-container {
    width: 100%;
    overflow: hidden !important;
    &:focus {
      outline: none;
    }
  }

  &:focus {
    outline: none;
  }
}

button.bp3-button.bp3-minimal.hidden-button {
  border: none;
}
