.body-container {
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: 80vh;
  padding: 0px 10px;
  display: fixed;
}

.body {
  display: grid;
  height: 100%;

  .left,
  .right {
    .p-card-body {
      height: 100%;
      padding: 0;
      .p-card-content {
        height: 100%;
      }
    }
  }

  .grip {
    text-align: center;
    padding-top: 40vh;

    &:hover,
    &:active {
      cursor: ew-resize;
    }

    .icon {
      color: #dcdcdc;
    }
  }
}
