.title-bar {
  display: grid;
  grid-template-columns: 30px auto;
  column-gap: 10px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(217, 217, 217, 0.69);
  -moz-box-shadow: 0px 1px 1px 0px rgba(217, 217, 217, 0.69);
  box-shadow: 0px 1px 1px 0px rgba(217, 217, 217, 0.69);

  background-color: #f5f7f8;
  width: 100vw;
  padding: 5px;
  margin-bottom: 10px;

  .title {
    font-size: 24px;
    font-weight: 900;
    font-family: monospace;
  }

  .popout {
    text-align: center;
    padding-top: 5px;

    .icon {
      font-size: 24px;
      vertical-align: -webkit-baseline-middle;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .yapij-demo-sidebar {
    .title {
      font-size: 24px;
      font-weight: 900;
      text-align: left;
      font-family: monospace;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }

    .header {
      padding: 5px 0px;
      font-size: 18px;
      text-align: left;
      font-weight: bold;

      span.fas,
      span.fab {
        font-weight: normal;
        padding-right: 10px;
      }
    }

    .action {
      padding: 5px 0px;
      font-size: 18px;
      text-align: left;
      &:hover {
        cursor: pointer;
        background-color: rgba(250, 250, 250, 1);
      }

      .fas {
        padding-right: 10px;
      }
    }

    hr {
      border: 1px solid rgb(220, 220, 220);
    }
  }
}
