.shell {
  display: contents;

  .main {
    height: 100%;
    overflow: auto;

    &.dark {
      background-color: rgb(29, 31, 33);
    }

    &.light {
      background-color: rgb(254, 254, 254);
    }
  }
}

table.yapij-shell {
  width: 100%;
  border: none;
  font-family: monospace;

  tr.main-row,
  tr.input-row {
    width: 100%;

    td {
      &.id {
        padding-top: 0;
        min-width: 22px;
        vertical-align: top;

        button {
          min-width: 22px;
          min-height: 22px;
          border-radius: 40px !important;

          background-color: none;
          outline-color: none;
          border: none;
          padding: none;
        }
      }

      &.main {
        text-align: left;
      }
    }
  }

  &.dark {
    background-color: rgb(29, 31, 33);
  }

  &.light {
    background-color: rgb(254, 254, 254);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.py-type-tooltip {
  font-family: monospace;
  font-size: 0.85em;

  .inner {
    font-size: 0.75em;
  }
}

.not-started-splash {
  padding: 10px;
  margin: 50px;
  min-height: 225px;
  min-width: 400px;
  max-width: 500px;
  text-align: center;

  div.nis-button {
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 10px 50px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
      0 1px 1px rgba(16, 22, 26, 0.2);
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: rgba(250, 250, 250, 0.8);
    }
  }

  .dialogue {
    text-align: left;
  }

  .icon {
    font-size: 100px;
    color: #bfbfbf;
    margin: 15px 0px;
  }
}

.scroll-to-bottom {
  float: left;
  clear: both;
}
