.shell-navbar {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  display: grid;
  grid-template-columns: 25px 25px auto 90px 25px;
  height: 100%;
  max-height: 30px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  .py-running-container {
    height: 25px;
    width: 25px;
    padding: 4px;
    vertical-align: middle;

    svg {
      display: block;
    }
  }

  button.bp3-button.bp3-minimal {
    &.dark {
      svg path {
        fill: #c5c8c6;
      }
    }
    &.light {
      svg path {
        fill: #4d4d4c;
      }
    }

    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 40px !important;
    min-width: 24px;
    min-height: 24px;

    .bp3-icon {
      vertical-align: middle;
      margin-bottom: 2px;
    }
  }

  .last {
    float: right;
  }

  &.dark {
    background-color: black;
    color: #eaeaea !important;
  }

  &.light {
    background-color: rgb(250, 250, 250);
    color: #4d4d4c !important;

    button.bp3-button.bp3-minimal,
    button.bp3-button.bp3-minimal .bp3-icon {
      color: #4d4d4c !important;
    }
  }

  .beacon {
    justify-self: right;
  }
}

.start-stop-menu {
  padding-top: 3px;
  margin-bottom: 3px;
  font-size: 0.85em;
}
