.workspace-monitor {
  padding-top: 5px;

  .card-title {
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
  }

  button.bp3-button.refresh {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    height: 24px;
    width: 24px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  div.nis-button {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
      0 1px 1px rgba(16, 22, 26, 0.2);
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: rgba(250, 250, 250, 0.8);
    }
  }

  .object-table-container {
    overflow: auto;
    margin-bottom: 4px;

    .object-table {
      font-size: 0.8em;
      font-family: monospace;

      td,
      th {
        padding: 3px;

        .bp3-popover-wrapper,
        .bp3-popover-target {
          width: 100%;
        }
        .reset {
          color: #c82829;
          user-select: none;
          cursor: pointer;
          width: 100%;
          padding-left: 3px;
          padding-right: 3px;
          text-align: center;

          &:hover {
            color: white;
            background-color: #c82829cc;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .footer {
    font-size: 0.75em;

    .title {
      font-weight: bold;
      color: #4271ae;
    }
  }
}
