.p-dialog.p-component.install-yapij-dialog {
  border-radius: 0 !important;

  .p-dialog-titlebar {
    border-radius: 0 !important;

    font-size: 24px;
    font-weight: 900;
    padding: 10px 15px;
  }
}
