.install-yapij {
  max-width: 85vw;
  min-width: 85vw !important;
  width: 85vw;
  top: 10vh !important;
  left: 7.5vw !important;

  display: grid;
  grid-template-columns: 175px auto;
  column-gap: 10px;

  .install-menu {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 0;

    .p-menuitem.active {
      background-color: rgba(250, 250, 250, 1);
    }
  }

  // General formatting for
  .panel {
    padding: 10px;
    .p-card-header {
      h3 {
        margin: 0;

        a.help-button {
          float: right;
        }
      }
      padding-bottom: 10px;
    }

    .p-card-body {
      padding: 0;
    }
  }

  .python-version {
    overflow-y: auto;
    max-height: 500px;

    .no-python {
      .advanced-options-controls {
        .form-field {
          &.switch {
            padding: 2px 0px;
            .p-inputswitch.p-component {
              vertical-align: middle;
            }
            label {
              padding-left: 1em;
              font-size: 0.9em;
            }
          }

          &.path {
          }
        }
      }
    }
  }

  .panel-status {
    padding-top: 10px;
  }

  .help-text {
    cursor: pointer;
    margin-bottom: 10px;
    display: none;
  }

  .floater {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .venv {
    .add-venvs-button {
      float: right;
    }

    .non-empty-table {
      font-size: 0.8em;

      td,
      th {
        padding: 3px 6px;
      }

      td.path {
        font-family: monospace;
      }

      td.installed {
        font-size: 16px;
        .fas.fa-times {
          color: #f8b7bd;
        }

        .fas.fa-check {
          color: #b7d8b7;
        }
      }
    }

    td.actions {
      button.p-button.p-component {
        background-color: rgba(0, 0, 0, 0);
      }

      .p-button-text.p-c {
        padding: 0;
      }
    }
  }

  .form-helper-text {
    font-size: 0.7em;
    color: grey;
  }

  .p-accordion .p-accordion-header a {
    border-radius: 0;
    padding: 5px;

    &:focus {
      outline: none;
    }
  }
}
