.yapij-editor {
  .navbar {
    height: 30px;
    display: grid;
    grid-template-columns: 28px auto;

    &.light {
      background-color: #efefef;
      border-bottom: 1px solid #efefef;

      .menu {
        color: #4d4d4c;
      }
    }

    &.dark {
      background-color: #1d1f21;
      border-bottom: 1px solid #424242;

      .menu {
        color: #eaeaea;
      }
    }

    .menu {
      padding: 0px 6px;
      margin: 1px;
      cursor: pointer;
      user-select: none;
      border-radius: 50px;
      height: 30px;

      .icon {
        line-height: 30px;
        font-size: 16px;
      }

      &:hover {
        background-color: rgba(250, 250, 250, 0.2);
      }
    }

    .tabs {
      .editor-tab {
        cursor: pointer;
        user-select: none;

        padding: 3px 5px;
        z-index: -1;
        display: inline;
        font-size: 12px;
        height: 30px !important;
        line-height: 38px;

        &.light {
          color: #4d4d4c;
          background-color: #efefef;
          &.active {
            background-color: #d6d6d6;
          }

          .icon {
            color: #4d4d4c;

            &:hover {
              color: #d6d6d6;
            }
          }
        }

        &.dark {
          color: #eaeaea;
          background-color: #000000;

          &.active {
            background-color: #424242;
          }

          .icon {
            color: #eaeaea;

            &:hover {
              color: #424242;
            }
          }
        }

        &.active {
          z-index: 2;
        }

        .icon {
          margin-left: 5px;
        }
      }
    }
  }

  .footer {
    max-height: 15px;
    min-height: 15px;
    height: 15px;
    font-size: 10px;
    padding: 0px 3px;

    &.light {
      background-color: #efefef;
      border-top: 1px solid #efefef;
      color: #4d4d4c;
    }

    &.dark {
      background-color: #1d1f21;
      border-top: 1px solid #424242;
      color: #eaeaea;
    }
  }
}
