span.status-icon {
  font-size: 0.8em;
  font-family: monospace;
  padding: 2px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0) !important;

  .bp3-icon {
    vertical-align: middle;
    margin-bottom: 2px;
  }

  .count {
    padding-left: 2px;
  }
}
