.dark-light-grid {
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
  display: grid;
}

.light {
  background-color: rgb(254, 254, 254);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dark {
  background-color: #282a2e;
}

.py-running-example-container {
  height: 400px;
  width: 400px;
  vertical-align: middle;

  div {
    padding: 175px;
  }

  svg {
    display: block;
  }
}

.workspace-dialog {
  button {
    margin: 10px;
  }
  .spacer {
    min-width: 10px;
    min-height: 10px;
    display: inline-block;
  }
}
