.example-container {
  display: grid;
  grid-template-columns: 30% 68%;
  grid-column-gap: 10px;
}

body {
  font-family: sans-serif;
}

.demo-container {
  display: grid;
  grid-template-rows: 60px 675px auto;
  grid-template-columns: 325px auto;
  grid-template-areas:
    "navbar navbar"
    "settings example"
    "nonsense example";
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .navbar-container {
    grid-area: navbar;
  }

  .settings-container {
    grid-area: settings;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .info-nonsense-container {
    grid-area: nonsense;
    margin-left: 10px;
  }

  .example-container-9 {
    grid-area: example;
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 600px;

    .bp3-card.ex-card {
      min-width: 600px;
      width: inherit;
    }
  }
}

.bp3-button.top-menu {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 3px !important;
  padding: 5px 10px !important;
  border: 0px solid rgba(0, 0, 0, 0);

  &:hover {
    background-color: #ebf1f5 !important;
  }
}
