span.delete-all-tag {
  display: inline-block;
  float: right;
}

div.msg-list {
  border: none !important;

  code.no-msg {
    font-size: 12px;
    font-style: italic;
    padding-left: 10px;
  }

  table {
    width: 100%;
    font-size: 12px;
    tr.message-list-row {
      font-family: monospace;

      td.icon {
        width: 15px;
      }

      td.date {
        width: 60px;
        font-size: 10px;
      }

      td.delete {
        width: 25px;
      }
    }
  }

  div.footer {
    padding-top: 3px;
    padding-right: 5px;
    height: 30px;
  }

  &.light {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

    table tbody tr.message-list-row {
      &.info {
        color: rgba(66, 113, 174, 1);
        background-color: rgba(66, 113, 174, 0.05);
      }

      &.warn {
        color: rgba(245, 135, 31, 1);
        background-color: rgba(245, 135, 31, 0.1);
      }

      &.success {
        color: rgba(113, 140, 0, 1);
        background-color: rgba(113, 140, 0, 0.1);
      }

      &.error {
        color: rgba(200, 40, 41, 1);
        background-color: rgba(200, 40, 41, 0.1);
      }
    }

    code.no-msg {
      color: #4d4d4c;
    }

    div.footer {
      border-top: 1px solid #efefef;
      background-color: #fefefe;
    }
  }

  &.dark {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    outline: 1px solid #373b41;
    background-color: #000000;

    table tbody tr.message-list-row {
      &.info {
        color: rgba(122, 166, 218, 1);
      }

      &.warn {
        color: rgba(231, 140, 69, 1);
      }

      &.success {
        color: rgba(185, 202, 74, 1);
      }

      &.error {
        color: rgba(213, 78, 83, 1);
      }
    }

    code.no-msg {
      color: #eaeaea;
    }

    div.footer {
      border-top: 1px solid #373b41;
      background-color: #1d1f21;
    }

    span.bp3-tag {
      border: 1px solid #c5c8c6;
      border-radius: 1px !important;
      background-color: #373b41;
      color: #c5c8c6;
    }
  }

  div.table-inner-container {
    overflow: auto;
  }
}
