div.kernel-menu {
  &.dark {
    background-color: black;
    color: #eaeaea !important;
    button.bp3-button.bp3-minimal,
    button.bp3-button.bp3-minimal .bp3-icon {
      color: #eaeaea !important;
    }
  }

  &.light {
    background-color: rgb(250, 250, 250);
  }

  button.bp3-button.bp3-minimal.menu-button {
    border-radius: 40px !important;
    min-width: 24px;
    min-height: 24px;
  }
}
