.status {
  display: grid;
  width: 100%;
  grid-template-columns: 30px auto;
  padding: 5px;

  color: black;

  &.with-title {
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "icon title"
      "icon msg";
  }

  &.no-title {
    grid-template-areas: "icon msg";
  }

  .title {
    grid-area: title;

    .string-title {
      font-size: 18px;
      font-weight: bold;
      height: 33px;
      line-height: 22px;
    }
  }

  .msg {
    grid-area: msg;
  }

  .icon {
    grid-area: icon;

    span.fas {
      font-size: 24px;
    }
  }

  &.raised {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  &.default,
  &.secondary {
    background-color: #eaeaea;

    div.icon span.fas {
      color: #6a6a6a;
      &:before {
        content: "\f05a";
      }
    }
  }

  &.info {
    background-color: #7fbcec;
    div.icon span.fas.no-icon {
      color: #3a566c;
      &:before {
        content: "\f05a";
      }
    }
  }

  &.error {
    background-color: #f8b7bd;
    div.icon span.fas.no-icon {
      color: #78595c;
      &:before {
        content: "\f06a";
      }
    }
  }

  &.success {
    background-color: #b7d8b7;
    div.icon span.fas.no-icon {
      color: #4b584b;
      &:before {
        content: "\f058";
      }
    }
  }

  &.warn {
    background-color: #ffe399;
    div.icon span.fas.no-icon {
      color: #7f714c;
      &:before {
        content: "\f071";
      }
    }
  }

  &.help {
    // question-circle
    background-color: #e19bc4;

    div.icon span.fas.no-icon {
      color: #614355;
      &:before {
        content: "\f059";
      }
    }
  }
}
