.workspace-dialog-abstract-default {
  background-color: rgba(245, 245, 245, 1);
  padding: 10px;
  width: calc(100vw -40px);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 65px;
  font-family: monospace;

  .bp3-form-group .bp3-form-helper-text {
    color: white;
  }

  .input {
    width: calc(100vw - 96px - 35px - 40px - 40px);
  }

  .helpertext {
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.5);
  }

  .h3-title {
    padding-left: 10px;
    color: #c23030;
    font-weight: bold;
  }
}
