.bp3-minimal {
  outline: none;
  border: none;

  background-color: rgba(0, 0, 0, 0);

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.bp3-popover-wrapper {
  &:focus {
    outline: none;
  }

  .bp3-popover-target {
    outline: none;
    &:focus {
      outline: none;
    }

    & code {
      outline: none;
      &:focus {
        outline: none;
      }
    }

    & pre {
      outline: none;
      &:focus {
        outline: none;
      }
    }
  }
}

*[class^="bp3-"] {
  border-radius: 0 !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.bp3-input {
  border: 1px solid rgba(16, 22, 26, 0.15);
  box-shadow: none;

  &:focus {
    border: 2px solid rgba(16, 22, 26, 0.15);
  }
}

button.bp3-button {
  background-image: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(16, 22, 26, 0.2);
  min-height: 16px;
  min-width: 16px;
  padding: 2px;
  vertical-align: middle;

  &:focus {
    outline: none;
  }

  &.dark {
    border: 1px solid #eaeaea;
    background-color: #282a2e;
    color: #eaeaea;

    &:hover {
      background-color: #373b41;
    }

    &:focus {
      background-color: #969896;
    }
  }
}

.bp3-select select {
  background-image: none;
  border-radius: none;
  box-shadow: none;
  border: 1px solid rgba(16, 22, 26, 0.2);
  background-color: rgba(16, 22, 26, 0.01);
}

.bp3-non-ideal-state {
  width: inherit;
  height: inherit;
}
