$info-dark: rgba(122, 166, 218, 1);
$warn-dark: rgba(231, 140, 69, 1);
$success-dark: rgba(185, 202, 74, 1);
$error-dark: rgba(213, 78, 83, 1);
$default-dark: #eaeaea;

$info-light: rgba(66, 113, 174, 1);
$warn-light: rgba(245, 135, 31, 1);
$success-light: rgba(113, 140, 0, 1);
$error-light: rgba(200, 40, 41, 1);
$default-light: #4d4d4c;

body {
  line-height: 1.5;
}

.bp3-icon.clickable-icon {
  padding: 5px;
  border-radius: 10px !important;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.dark {
  &.info {
    color: $info-dark;
    .bp3-icon {
      color: $info-dark;
    }
  }

  &.warn {
    color: $warn-dark;
    .bp3-icon {
      color: $warn-dark;
    }
  }

  &.success {
    color: $success-dark;
    .bp3-icon {
      color: $success-dark;
    }
  }

  &.error {
    color: $error-dark;
    .bp3-icon {
      color: $error-dark;
    }
  }

  &.default {
    color: $default-dark;

    .bp3-icon {
      color: $default-dark;
    }
  }
}

.light {
  &.info {
    color: $info-light;
    background-color: rgba(66, 113, 174, 0.05);
    .bp3-icon {
      color: $info-light;
    }
  }

  &.warn {
    color: $warn-light;
    background-color: rgba(245, 135, 31, 0.1);
    .bp3-icon {
      color: $warn-light;
    }
  }

  &.success {
    color: $success-light;
    background-color: rgba(113, 140, 0, 0.1);
    .bp3-icon {
      color: $success-light;
    }
  }

  &.error {
    color: $error-light;
    background-color: rgba(200, 40, 41, 0.1);
    .bp3-icon {
      color: $error-light;
    }
  }

  &.default {
    color: $default-light;
    .bp3-icon {
      color: $default-light;
    }
  }
}
